<h1 class="px-0 mt-2">Forum Settings</h1>

<a class="px-0" href="/f/<%= forumName %>">f/<%= forumName %></a>

<hr>

<h3 class="mt-3">Change Description</h3>
<form method="POST" action="/fsettings/<%= forumName %>">
<div class="mb-3">
    <label for="description" class="form-label">Description</label>
    <textarea class="form-control" name="description" rows="3"><%= description %></textarea>
</div>
<div class="p-1 text-end">
    <button name="action" value="description" class="px-3 btn btn-primary">Change</button>
</div>
</form>

<% if(locals.pex) { console.log(pex); %>
<hr>
<h3>Permission</h3>
<form method="POST" action="/fsettings/<%= forumName %>">
    <table class="table">
        <tr>
            <th>Action</th>
            <th class="col-sm-2">Anonymous</th>
            <th class="col-sm-2">User</th>
            <th class="col-sm-2">Moderator</th>
        </tr>
        <tr>
            <td>Can Post</td>
            <td><input type="checkbox" name="A_CRT_POST" <%= pex.A_CRT_POST %> ></td>
            <td><input type="checkbox" name="U_CRT_POST" <%= pex.U_CRT_POST %> ></td>
            <td><input type="checkbox" name="M_CRT_POST" <%= pex.M_CRT_POST %> ></td>
        </tr>
        <tr>
            <td>Can Create Comment</td>
            <td><input type="checkbox" name="A_CRT_COMMENT" <%= pex.A_CRT_COMMENT %> ></td>
            <td><input type="checkbox" name="U_CRT_COMMENT" <%= pex.U_CRT_COMMENT %> ></td>
            <td><input type="checkbox" name="M_CRT_COMMENT" <%= pex.M_CRT_COMMENT %> ></td>
        </tr>
    </table>
    <div class="p-1 text-end">
        <button name="action" value="pex" class="px-3 btn btn-primary">Change</button>
    </div>
</form>
<% } %>