<h1><%= forumName %></h1>

<h2>Change description</h2>
<form method="POST" action="/fsettings/<%= forumName %>">
    <label for="description">Descrizione</label>
    <textarea name="description" id="description" cols="20" rows="10"><%= description %></textarea>
    <button name="action" value="description">Change</button>
</form>

<% if(locals.pex) { %>
<hr>
<h2>Permission</h2>
<form method="POST" action="/fsettings/<%= forumName %>">
    <h3>Anonymous</h3>
    <label for="A_CRT_POST">Can Post</label>
    <input type="checkbox" name="A_CRT_POST" <%= pex.A_CRT_POST %>
    <br>
    <label for="A_CRT_COMMENT">Can Comment</label>
    <input type="checkbox" name="A_CRT_COMMENT" <%= pex.A_CRT_COMMENT %>
    <br>
    <h3>Registered User</h3>
    <label for="U_CRT_POST">Create Post</label>
    <input type="checkbox" name="U_CRT_POST" <%= pex.U_CRT_POST %>
    <label for="U_CRT_COMMENT">Create comment</label>
    <input type="checkbox" name="U_CRT_COMMENT" <%= pex.U_CRT_COMMENT %>
    <br>

    <h3>Moderator</h3>
    <label for="M_CRT_POST">Create post</label>
    <input type="checkbox" name="M_CRT_POST" <%= pex.M_CRT_POST %>
    <label for="M_CRT_COMMENT">Create comment</label>
    <input type="checkbox" name="M_CRT_COMMENT" <%= pex.M_CRT_COMMENT %>
    <br>
    <button name="action" value="pex">Change</button>
</form>
<% } %>