<a href="/f/<%= post.forum_name %>"><%= post.forum_name %></a>

<h2><%= post.title %></h2>

<p><%= post.description %></p>

<% if(post.creator === null) { %>
<h5>Anonymous</h5>
<% } else { %>
<h5><a href="/u/<%= post.creator %>"><%= post.creator %></a></h5>
<% }%>

<p><%= post.created %></p>

<% for(let i = 0; i < comments.length; i++) { %>
    <h5><%= (comments[i].creator?comments[i].creator:"Anonymous") %></h5>
    <p><%= comments[i].description %></p>
<% } %>

<% if(locals.can_comment) { %>
<form action="/p/<%= post.id %>" method="POST">
    <textarea name="description" id="description" cols="30" rows="10"></textarea>
    <input type="submit" value="Comment">
</form>
<% } %>