<h1 class="title"><%= forumName %></h1>

<% if(locals.posts) { %>
    <% for(let i = 0; i < posts.length; i++) { %>
        <div class="preview">
            <h3><a class="preview-title" href="/p/<%= posts[i].id %>"><%= posts[i].title %></a></h3>
            <p class="preview-description"><%=  posts[i].description %></p>

            <% if(posts[i].creator === null) { %>
            <h5>Anonymous</h5>
            <% } else { %>
            <h5><a href="/u/<%= posts[i].creator %>"><%= posts[i].creator %></a></h5>
            <% }%>
        </div>
    <% } %>
<% } %>

<% if(locals.canCreatePost) { %>
<a class="new-item" href="/p?f=<%= forumName %>">New Post</a>
<% } %>