<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/default.css">
    <% if(locals.styles) { %>
        <% for(let i = 0; i < styles.length; i++) { %>
            <link rel="stylesheet" href="/stylesheets/<%= styles[i] %>">
        <% } %>
    <% } %>
</head>
<body>
    <div id="page">
        <header>
            <a href="/"><img id="header_logo" src="/images/logo.jpeg"></a>
        </header>
        <nav>
            <ul id="menu">
                <li class="menu-item left"><a href="/">Home</a></li>
                <li class="menu-item left"><a href="/newtopic">New Topic</a></li>
                <% if(!locals.auth) { %>
                <li class="menu-item right"><a href="/register">Register</a></li>
                <li class="menu-item right"><a href="/login">Login</a></li>
                <% } else { %>
                <li class="menu-item right"><a href="/logout">Logout</a></li>
                <li class="menu-item right">Hello, <%= auth.username %></li>
                <% } %>
            </ul>
        </nav>
        <main>
            <% if( locals.error ) { %>
            <div id="error-div">
                <h5 id="error"><%= error %></h5>
            </div>
            <% } %>
            <%- body %>
        </main>
        <footer>
            <span id="copyright">&copy; VoidBB</span>
        </footer>
    </div>
</body>
</html>