<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= BOARD_NAME %></title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <% if(locals.styles) { %>
        <% for(let i = 0; i < styles.length; i++) { %>
            <link rel="stylesheet" href="/stylesheets/<%= styles[i] %>">
        <% } %>
    <% } %>
</head>
<body style="background-color: grey">
    <div class="container px-5 pb-3" style="background-color: #f0f0f0">
        <header>
            <a href="/"><img class="img-fluid mx-auto d-block" src="/images/logo.png"></a>
        </header>
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid border border-dark border-3">
                <% if(!locals.AP) { %>
                    <ul class="navbar-nav">
                        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                    </ul>
                    <ul class="navbar-nav">
                        <% if(!locals.USERNAME) { %>
                            <% if(locals.CAN_REGISTER) { %>
                        <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
                            <% } %>
                        <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
                        <% } else { %>
                        <li class="nav-item navbar-text pe-2">Hello, <%= USERNAME %></li>
                            <% if(locals.CAN_AP) { %>
                        <li class="nav-item"><a class="nav-link" href="/ap">AP</a></li>
                            <% } %>
                        <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
                        <% } %>
                    </ul>
                <% } else { %>
                    <ul class="navbar-nav">
                        <li class="nav-item"><a class="nav-link" href="/ap/general">General</a></li>
                        <li class="nav-item"><a class="nav-link" href="/ap/pex">Permissions</a></li>
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item"><a class="nav-link" href="/ap/logout">AP Logout</a></li>
                    </ul>
                <% } %>
            </div> 
        </nav>
        <main>
            <div class="container">
                <% if(locals.ERROR) { %>
                <div class="alert alert-danger row"><%= ERROR %></div>
                <% } %>
                <% if(locals.INFO) { %>
                <div class="alert alert-success row"><%= INFO %></div>
                <% } %>
                <div class="row px-4">
                <%- body %>
                </div>
            </div>
        </main>
        <footer class="mt-4 container-fluid border border-dark border-3">
            <a href="https://github.com/romanfabio/VoidBB" target="_blank" class="text-center">&copy; VoidBB</a>
        </footer>
    </div>
</body>
</html>